{% extends 'base.html.twig' %}

{% block page_title %}{{ 'Manage Specialities for'|trans }} {{ talent.alias }}{% endblock %}

{% block page_actions %}
    <a href="{{ path('talent_view', {'id': talent.id}) }}" class="btn btn-default">
        <i class="fas fa-arrow-left"></i> {{ 'Back to details'|trans }}
    </a>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'Manage Specialities'|trans }}</h3>
                </div>
                <div class="box-body">
                    <form method="POST">
                        <div class="form-group">
                            {% for speciality in specialities %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" 
                                               name="specialities[]" 
                                               value="{{ speciality.id }}"
                                               {% if speciality.id in currentSpecialities %}checked{% endif %}
                                        > 
                                        {{ speciality.name }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 