{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'LHG Payroll'|trans }}{% endblock %}

{% block main %}
    {% block content %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#myPayroll">My Payroll</a></li>
            {% if toApproveData|length > 0 %}
                <li><a data-toggle="tab" href="#toApprove">To Approve</a></li>
            {% endif %}
            {% if approvedData|length > 0 %}
                <li><a data-toggle="tab" href="#approved">Approved</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
        <div id="myPayroll" class="tab-pane fade in active">
            <div class="mt-4">
                <div class="mt-4">
                    <form method="GET" action="{{ path('biweekly-payroll') }}" class="form-inline">
                        <div class="form-group mb-2">
                            {# <select name="user" class="form-control select2" id="payroll_user"> #}
                                {% if users|length > 0 %}
                                <select name="user" id="payroll_user" class="selectpicker form-control select2 ">
                                    {% for user in users %}
                                    <option {% if selectedUserId==user.id %} {{ 'selected' }} {% endif %} value="{{ user.id }}">{{
                                        user.alias ?? user.username }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                        </div>
                        <input type="hidden" name="date" class="form-control" id="payroll_date" value={{ selectedDate }}
                            placeholder="">
                        {# <input type="hidden" name="payroll_start_date" class="form-control" id="payroll_start_date" value={{
                            payrollDates.start }} placeholder="">
                        <input type="hidden" name="payroll_end_date" class="form-control" id="payroll_end_date" value={{
                            payrollDates.end }} placeholder=""> #}

                        <button id="prev_btn" type="button" class="btn btn-default">
                            <i class="fas fa-arrow-left"></i> Previous
                        </button>

                        <button type="button" class="btn btn-default mb-2">{{ payrollDates.start }} to {{ payrollDates.end
                            }}</button>

                        <button id="next_btn" type="button" class="btn btn-default">
                            Next <i class="fas fa-arrow-right"></i>
                        </button>

                    </form>

                    <p><strong>User</strong>: {{ selectedUserName }}</p>
                    <p class="mt-6" style="margin-tp: 10px;"><strong>Total Hours</strong>: {{
                        payrollData.total_hours|number_format(3) }} hrs</p>
                    <p><strong>Total Earnings</strong>: ${{ payrollData.total_earnings|number_format(3) }}</p>
                </div>


                <div class="table-responsive mt-4">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Project</th>
                                <th>Total Duration</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projectId, projectData in projectWiseData %}
                            <tr>
                                <td>{{ projectData.projectName }}</td>
                                <td>{{ projectData.totalDuration|number_format(3) }} hr</td>
                                <td>${{ projectData.totalAmount|number_format(3) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table class="sub-table table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Total Duration</th>
                                                <th>Total Amount</th>
                                                <th>Begin</th>
                                                <th>End</th>
                                                <th>Description</th>
                                                <th>Warning</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for date, timesheetData in projectData.timesheetsByDate %}
                                            <tr>
                                                <td>{{ date }}</td>
                                                <td>{{ timesheetData.totalDuration|number_format(3) }} hr</td>
                                                <td>${{ timesheetData.totalAmount|number_format(3) }}</td>
                                            </tr>
                                            {% for timesheet in timesheetData.timesheets %}
                                            <tr>
                                                <td>{{ timesheet.date }}</td>
                                                <td>{{ timesheet.duration_in_hour|number_format(3) }} hr</td>
                                                <td>${{ timesheet.rate|number_format(3) }}</td>
                                                <td>{{ timesheet.begin }}</td>
                                                <td>{{ timesheet.end }}</td>
                                                <td>{{ timesheet.description }}</td>
                                                <td>
                                                    <ul>
                                                        {% for errorMessage in timesheet.error %}
                                                        <li>{{ errorMessage }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if submittedByUser == false %}
                    <button id="submit_btn" type="button" class="btn btn-info">
                        Submit
                    </button>
                    {% else %}  
                        <p>This payroll has been submitted for approval</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="toApprove" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Payroll Period dates</th>
                        <th>Total hours</th>
                        <th>Total amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, toApprove in toApproveData %} 
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ toApprove.user.alias }}</td>
                        <td>{{ payrollDates.start }} to {{ payrollDates.end }}</td>
                        <td>{{ toApprove.totalDuration|number_format(3) }}</td>
                        <td>${{ toApprove.totalAmount|number_format(3) }}</td>
                        <td>
                            <a href="{{ path('lhg_payroll_approval_view', {'id': toApprove.id}) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="approved" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Payroll Period dates</th>
                        <th>Total hours</th>
                        <th>Total amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, approved in approvedData %} 
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ approved.user.alias }}</td>
                        <td>{{ payrollDates.start }} to {{ payrollDates.end }}</td>
                        <td>{{ approved.totalDuration|number_format(3) }}</td>
                        <td>{{ approved.totalAmount|number_format(3) }}</td>
                        <td>
                            <a href="{{ path('lhg_payroll_approval_view', {'id': approved.id}) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %} 
    <script> 
            document.addEventListener("DOMContentLoaded", function() { 
            // Get the buttons by their IDs
            const prevButton = document.getElementById("prev_btn");
            const nextButton = document.getElementById("next_btn");
            const submitBtn = document.getElementById("submit_btn");
            const payRollUser = document.getElementById("payroll_user");

            const dateInput = document.getElementById("payroll_date");

            //const startDate = document.getElementById("payroll_start_date");
            //const endDate = document.getElementById("payroll_end_date");

            if(payRollUser != null){
                payRollUser.addEventListener("change", function() {                
                    // Submit the form
                    document.querySelector("form").submit();
                });
            }

            if(submitBtn != null){
                submitBtn.addEventListener("click", function() {
                    console.log("Submitted");
                    const url =  "{{ path('lhg_payroll_approval_new') }}";
                    const data = {
                        startDate: '{{ payrollDates.start }}',
                        endDate: '{{ payrollDates.end }}',
                        userId: {{ selectedUserId }}
                    };

                    // Make a POST request using fetch
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Payroll approval submitted successfully:', data); 
                    })
                    .catch(error => {
                        console.error('Error submitting payroll approval:', error); 
                    });
                });
            }

            // Add click event listeners to the buttons
            prevButton.addEventListener("click", function() { 
                const payrollEnddate = new Date('{{ payrollDates.end }}');
                payrollEnddate.setDate(payrollEnddate.getDate() - 1); 
                dateInput.value = payrollEnddate.toISOString().slice(0, 10);
                console.log(payrollEnddate.toISOString().slice(0, 10));
                
                // Submit the form
                document.querySelector("form").submit();
            });

            nextButton.addEventListener("click", function() { 
                const payrollEnddate = new Date('{{ payrollDates.end }}');
                payrollEnddate.setDate(payrollEnddate.getDate() + 17); 
                dateInput.value = payrollEnddate.toISOString().slice(0, 10);
                console.log(payrollEnddate.toISOString().slice(0, 10));
                
                // Submit the form
                document.querySelector("form").submit();
            }); 
        }); 

    </script>

{% endblock %}
