{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'LHG Payroll'|trans }}{% endblock %}

{% block main %}

    {% block content %}
        <p>Total Hours: {{ payrollData.total_hours }}</p>
        <p>Total Earnings: {{ payrollData.total_earnings }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Total Duration</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for projectId, projectData in projectWiseData %}
                    <tr>
                        <td>{{ projectData.projectName }}</td>
                        <td>{{ projectData.totalDuration }} hours</td>
                        <td>{{ projectData.totalAmount }} USD</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="sub-table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Total Duration</th>
                                        <th>Total Amount</th>
                                        <th>Begin</th>
                                        <th>End</th>
                                        <th>Description</th>
                                        <th>Error</th>
                                        <th>Rate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for date, timesheetData in projectData.timesheetsByDate %}
                                        <tr>
                                            <td>{{ date }}</td>
                                            <td>{{ timesheetData.totalDuration }} hours</td>
                                            <td>{{ timesheetData.totalAmount }} USD</td>
                                        </tr>
                                        {% for timesheet in timesheetData.timesheets %}
                                            <tr>
                                                <td>{{ timesheet.date }}</td>
                                                <td>{{ timesheet.duration_in_hour }} hours</td>
                                                <td>{{ timesheet.rate }} USD</td>
                                                <td>{{ timesheet.begin }}</td>
                                                <td>{{ timesheet.end }}</td>
                                                <td>{{ timesheet.description }}</td>
                                                <td>
                                                    <ul>
                                                        {% for errorMessage in timesheet.error %}
                                                            <li>{{ errorMessage }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endblock %}

{% endblock %}
