{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}{{ 'LHG Payroll'|trans }}{% endblock %}
{% block stylesheets %} 
    {{ parent() }}
    <style>
        .timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
    }

    .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    
    z-index: 5;
    }

    .timeline li {
    padding: 1em 0;
    }

    .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

    .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
    }

    .direction-r {
    position: relative;
    width: 300px;
    float: right;
    }

    .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
    }

    .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
    }

    .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
    }

    .direction-r .flag:before {
    left: -40px;
    }

    .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
    }

    .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
    }

    .time-wrapper {
    display: inline;
    
    line-height: 1em;
    font-size: 0.66666em;
    color: rgb(250,80,80);
    vertical-align: middle;
    }

    .direction-l .time-wrapper {
    float: left;
    }

    .direction-r .time-wrapper {
    float: right;
    }

    .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
    }

    .desc {
    margin: 1em 0.75em 0 0;
    
    font-size: 0.77777em;
    font-style: italic;
    line-height: 1.5em;
    }

    .direction-r .desc {
    margin: 1em 0 0 0.75em;
    }

    /* ================ Timeline Media Queries ================ */

    @media screen and (max-width: 660px) {

    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
    }

    .timeline li {
        padding: 2em 0;
    }

    .direction-l,
    .direction-r {
        float: none;
        width: 100%;

        text-align: center;
    }

    .flag-wrapper {
        text-align: center;
    }

    .flag {
        background: rgb(255,255,255);
        z-index: 15;
    }

    .direction-l .flag:before,
    .direction-r .flag:before {
    position: absolute;
    top: -30px;
        left: 50%;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid rgb(255,80,80);
        z-index: 10;
    }

    .direction-l .flag:after,
    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
    }

    .direction-l .time-wrapper {
        float: none;
    }

    .direction-r .time-wrapper {
        float: none;
    }

    .desc {
        position: relative;
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);
        
    z-index: 15;
    }

    .direction-l .desc,
    .direction-r .desc {
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        
    z-index: 15;
    }

    }

    @media screen and (min-width: 400px ?? max-width: 660px) {

    .direction-l .desc,
    .direction-r .desc {
        margin: 1em 4em 0 4em;
    }

    }

    </style>
{% endblock %}

{% block main %}
    {% block content %}
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#myPayroll">My Payroll</a></li>
            {% if submittedData|length > 0 %}
                <li><a data-toggle="tab" href="#submittedData">Submitted</a></li>
            {% endif %}
            {% if approvedByTeamLead|length > 0 %}
                <li><a data-toggle="tab" href="#approvedByTeamLead">Approved By Team Lead</a></li>
            {% endif %}
            {% if approvedData|length > 0 %}
                <li><a data-toggle="tab" href="#approvedData">Approved By Finane</a></li>
            {% endif %}
            {% if notSubmittedUsers|length > 0 and is_granted('ROLE_SUPER_ADMIN') %}
                <li><a data-toggle="tab" href="#notSubmittedYet">Not Submitted</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
        <div id="myPayroll" class="tab-pane fade in active">
            <div class="mt-4">
                <div class="mt-4">
                    <form method="GET" action="{{ path('biweekly-payroll') }}" class="form-inline">
                        <div class="form-group mb-2">
                            {# <select name="user" class="form-control select2" id="payroll_user"> #} 
                                {% if users|length > 0 %}
                                <select name="user" id="payroll_user" class="selectpicker form-control select2 ">
                                    {# <option {% if selectedUserId == app.user.id %} {{ 'selected' }} {% endif %} value="{{ app.user.id }}">{{
                                            app.user.alias ?? app.user.username }}</option> #}
                                    {% for user in users %}
                                    <option {% if selectedUserId==user.id %} {{ 'selected' }} {% endif %} value="{{ user.id }}">{{
                                        user.alias ?? user.username }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                        </div>
                        <input type="hidden" name="date" class="form-control" id="payroll_date" value={{ selectedDate }}
                            placeholder="">
                        {# <input type="hidden" name="payroll_start_date" class="form-control" id="payroll_start_date" value={{
                            payrollDates.start }} placeholder="">
                        <input type="hidden" name="payroll_end_date" class="form-control" id="payroll_end_date" value={{
                            payrollDates.end }} placeholder=""> #}

                        <button id="prev_btn" type="button" class="btn btn-default">
                            <i class="fas fa-arrow-left"></i> Previous
                        </button>

                        <button type="button" class="btn btn-default mb-2">{{ payrollDates.start }} to {{ payrollDates.end
                            }}</button>

                        <button id="next_btn" type="button" class="btn btn-default">
                            Next <i class="fas fa-arrow-right"></i>
                        </button>

                        <button id="exportBtn" type="button" class="btn btn-success">
                            <i class="fas fa-download"></i> PDF
                        </button>

                    </form>

                    <p><strong>User</strong>: {{ selectedUserName }}</p>
                    <p class="mt-6" style="margin-tp: 10px;"><strong>Total Hours</strong>: {{
                        payrollData.total_hours|number_format(3) }} hrs</p>
                    <p><strong>Total Earnings</strong>: ${{ payrollData.total_earnings|number_format(3) }}</p>
                </div>


                <div class="table-responsive mt-4">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Project</th>
                                <th>Total Duration</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projectId, projectData in projectWiseData %}
                            <tr>
                                <td>{{ projectData.projectName }}</td>
                                <td>{{ projectData.totalDuration|number_format(3) }} hr</td>
                                <td>${{ projectData.totalAmount|number_format(3) }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <table class="sub-table table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Total Duration</th>
                                                <th>Total Amount</th>
                                                <th>Begin</th>
                                                <th>End</th>
                                                <th>Description</th>
                                                {# <th>Warning</th> #}

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for date, timesheetData in projectData.timesheetsByDate %}
                                            <tr>
                                                <td>{{ date }}</td>
                                                <td>{{ timesheetData.totalDuration|number_format(3) }} hr</td>
                                                <td>${{ timesheetData.totalAmount|number_format(3) }}</td>
                                            </tr>
                                            {% for timesheet in timesheetData.timesheets %}
                                            <tr>
                                                <td>{{ timesheet.date }}</td>
                                                <td>{{ timesheet.duration_in_hour|number_format(3) }} hr</td>
                                                <td>${{ timesheet.rate|number_format(3) }}</td>
                                                <td>{{ timesheet.begin }}</td>
                                                <td>{{ timesheet.end }}</td>
                                                <td>{{ timesheet.description | parse_links }}</td>
                                                {# <td>
                                                    <ul>
                                                        {% for errorMessage in timesheet.error %}
                                                        <li>{{ errorMessage }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td> #}
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                    {% if submittedByUser == false %}
                    <p>
                        <input type="checkbox" id="consent-checkbox"> I hereby <em>{{ app.user.alias }}</em> declare that I have checked above time entries are correct. 
                    </p>
                    <button id="submit_btn" type="button" class="btn btn-info">
                        Submit
                    </button>
                    {% else %}  
                        <div class="mt-4 timeline-div">
                            <div class="timeline">  
                                <ul class="timeline">
                                    <!-- Item 1 -->
                                    <li>
                                        <div class="direction-l"> 
                                            <div class="flag-wrapper">
                                                <span class="flag">{{ approval.user.alias }}</span>
                                                <span class="time-wrapper"><span class="time">{{ approval.creationDate | date("Y-m-d g:i:sA") }}</span></span>
                                            </div>
                                            <div class="desc">{{ 'Submitted for approval' }}</div>
                                        </div>
                                    </li> 
                                    {% for history in approvalHistory %}
                                        <li>
                                            <div class="direction-{% if loop.index is divisible by 2 %}l{% else %}r{% endif %}"> 
                                                <div class="flag-wrapper">
                                                    <span class="flag">{{ history.user.alias }}</span>
                                                    <span class="time-wrapper"><span class="time">{{ history.date | date("Y-m-d g:i:sA") }}</span></span>
                                                </div>
                                                <div class="desc">{{ history.message }}</div>
                                            </div>
                                        </li> 
                                        
                                    {% endfor %}
                                </ul>
                            </div> 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="submittedData" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Payroll Period dates</th>
                        <th>Status</th>
                        <th>Total hours</th>
                        <th>Total amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set submittedNetTotalDuration = 0 %}  
                    {% set submittedNetTotalAmount = 0 %}  
                    {% set submittedNetTotalPayable = 0 %}
                    {% for index, submitted in submittedData %}
                        {% set submittedNetTotalDuration = submittedNetTotalDuration + submitted.totalDuration %}
                        {% set submittedNetTotalAmount = submittedNetTotalAmount + submitted.totalAmount %}
                        {% set submittedNetTotalPayable = submittedNetTotalPayable + submitted.netPayable %} 
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ submitted.user.alias }}</td>
                        <td>{{ payrollDates.start }} to {{ payrollDates.end }}</td>
                        <td>{{ statusArray[submitted.status] }}</td>
                        <td>{{ submitted.totalDuration|number_format(3) }}</td>
                        <td>${{ submitted.totalAmount|number_format(3) }}</td>
                        <td>
                            <a href="{{ path('lhg_payroll_approval_view', {'id': submitted.id}) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td>{{ submittedNetTotalDuration|number_format(3) }}</td>
                        <td>${{ submittedNetTotalAmount|number_format(3) }}</td> 
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div id="approvedByTeamLead" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Payroll Period dates</th>
                        <th>Status</th>
                        <th>Total hours</th>
                        <th>Total amount</th>
                        <th>Total Payable</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set netTotalDuration = 0 %}  
                    {% set netTotalAmount = 0 %}  
                    {% set netTotalPayable = 0 %}
                    {% for index, teamLeadApproved in approvedByTeamLead %} 
                        {% set netTotalDuration = netTotalDuration + teamLeadApproved.totalDuration %}
                        {% set netTotalAmount = netTotalAmount + teamLeadApproved.totalAmount %}
                        {% set netTotalPayable = netTotalPayable + teamLeadApproved.netPayable %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ teamLeadApproved.user.alias }}</td>
                        <td>{{ payrollDates.start }} to {{ payrollDates.end }}</td>
                        <td>{{ statusArray[teamLeadApproved.status] }}</td>
                        <td>{{ teamLeadApproved.totalDuration|number_format(3) }}</td>
                        <td>{{ teamLeadApproved.totalAmount|number_format(3) }}</td>
                        <td>{{ teamLeadApproved.netPayable|number_format(3) }}</td>
                        <td>
                            <a href="{{ path('lhg_payroll_approval_view', {'id': teamLeadApproved.id}) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td>{{ netTotalDuration|number_format(3) }}</td>
                        <td>${{ netTotalAmount|number_format(3) }}</td>
                        <td>${{ netTotalPayable|number_format(3) }}</td> 
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div id="approvedData" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th>
                        <th>Payroll Period dates</th>
                        <th>Status</th>
                        <th>Total hours</th>
                        <th>Total amount</th>
                        <th>Total Payable</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set netTotalFinanceDuration = 0 %}  
                    {% set netFinanceTotalAmount = 0 %}  
                    {% set netFinanceTotalPayable = 0 %}
                    {% for index, financeApproved in approvedData %} 
                        {% set netTotalFinanceDuration = netTotalFinanceDuration + financeApproved.totalDuration %}
                        {% set netFinanceTotalAmount = netFinanceTotalAmount + financeApproved.totalAmount %}
                        {% set netFinanceTotalPayable = netFinanceTotalPayable + financeApproved.netPayable %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ financeApproved.user.alias }}</td>
                        <td>{{ payrollDates.start }} to {{ payrollDates.end }}</td>
                        <td>{{ statusArray[financeApproved.status] }}</td>
                        <td>{{ financeApproved.totalDuration|number_format(3) }}</td>
                        <td>{{ financeApproved.totalAmount|number_format(3) }}</td>
                        <td>{{ financeApproved.netPayable|number_format(3) }}</td>
                        <td>
                            <a href="{{ path('lhg_payroll_approval_view', {'id': financeApproved.id}) }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td></td> 
                        <td>{{ netTotalFinanceDuration|number_format(3) }}</td>
                        <td>${{ netFinanceTotalAmount|number_format(3) }}</td>
                        <td>${{ netFinanceTotalPayable|number_format(3) }}</td> 
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div id="notSubmittedYet" class="tab-pane fade">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Name</th> 
                        <th>Taem Lead</th> 
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, notSubmitted in notSubmittedUsers %} 
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ notSubmitted.alias }}</td>
                        <td>{{ 'Team Lead Name' }}</td>
                        <td>
                            <a href="?user={{ notSubmitted.id }}&date={{ selectedDate }}" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div> 

    {% endblock %}
{% endblock %}

{% block javascripts %}
    {# {{ parent() }} #}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script> 
            document.addEventListener("DOMContentLoaded", function() { 
            // Get the buttons by their IDs
            const prevButton = document.getElementById("prev_btn");
            const nextButton = document.getElementById("next_btn");
            const submitBtn = document.getElementById("submit_btn");
            const payRollUser = document.getElementById("payroll_user");

            const dateInput = document.getElementById("payroll_date");

            //const startDate = document.getElementById("payroll_start_date");
            //const endDate = document.getElementById("payroll_end_date");

            if(payRollUser != null){
                payRollUser.addEventListener("change", function() {                
                    // Submit the form
                    document.querySelector("form").submit();
                });
            }

            if(submitBtn != null){
                submitBtn.addEventListener("click", function() {

                    var consent = document.getElementById("consent-checkbox");
                    if(!consent.checked){
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Please check the consent first!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        return;
                    }
                     
                    const url =  "{{ path('lhg_payroll_approval_new') }}";
                    const data = {
                        startDate: '{{ payrollDates.start }}',
                        endDate: '{{ payrollDates.end }}',
                        userId: {{ selectedUserId }}
                    };

                    // Make a POST request using fetch
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data); 
                        // Show success message
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Submitted successfully',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        location.reload();
                    })
                    .catch(error => {
                        console.log(error); 

                        // Show error message
                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: 'Something went wrong!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                         
                    });
                });
            }

            // Add click event listeners to the buttons
            prevButton.addEventListener("click", function() { 
                const payrollEnddate = new Date('{{ payrollDates.end }}');
                payrollEnddate.setDate(payrollEnddate.getDate() - 1); 
                dateInput.value = payrollEnddate.toISOString().slice(0, 10);
                console.log(payrollEnddate.toISOString().slice(0, 10));
                
                // Submit the form
                document.querySelector("form").submit();
            });

            nextButton.addEventListener("click", function() { 
                const payrollEnddate = new Date('{{ payrollDates.end }}');
                payrollEnddate.setDate(payrollEnddate.getDate() + 17); 
                dateInput.value = payrollEnddate.toISOString().slice(0, 10);
                console.log(payrollEnddate.toISOString().slice(0, 10));
                
                // Submit the form
                document.querySelector("form").submit();
            }); 
        }); 

    </script>

{% endblock %}
